<form action="/landmarks" method="post">
	<p>Name of the Landmark: <input type="text" name="landmark[name]" id="landmark_name"></p>
	<p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
	<button value="submit">Create New Landmark</button>
</form>