<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Year Completed</th>
  </tr>
  <tr>
    <td align="left"><%= @landmark.name %></td>
    <td align="left"><%= @landmark.year_completed %></td>
  </tr>
<table>
<a href="/figures/<%@landmark.id%>/edit">
	<button>Edit</button>
</a>


